/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  padding: 0 20%;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 6%;
  }
}

.header {
  padding: 50px 0 60px 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 3rem;
  padding-bottom: 20px;
}

p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #3f3f46;
}

a {
  color: inherit;
}

.progress {
  margin-top: 30px;
  position: relative;
}

.bar {
  height: 12px;
  width: 100%;
  background-color: #f4f4f5;
  border-radius: 10px;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 12px;
  background-color: #262626;
  border-radius: 10px;
}

h2 {
  color: #3f3f46;
  margin-top: 20px;
  text-align: center;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.day-grid {
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10px, 1fr));
  grid-gap: 8px;
}

.day {
  width: 10px;
  height: 10px;
  border-radius: 50px;
}

#tooltip {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
